<html>
  <head>
    <title>Job Notification</title>
  </head>
  <body>
    <h1>Job Notification</h1>
    <p>Start Date: {{startDate}}</p>
    <p>End Date: {{endDate}}</p>
    <p>Project Name: {{projectName}}</p>
    <p>Foreman: {{foreman}}</p>
  </body>
</html>
